<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <application>
        <activity
            android:name="com.marketap.sdk.client.inapp.InAppMessageActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@style/InAppMessageTheme" />

        <activity
            android:name="com.marketap.sdk.client.push.MarketapTrampolineActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:taskAffinity=".NotificationTrampolineActivity"
            android:theme="@style/Marketap.PushTrampoline.Transparent" />
    </application>
</manifest>