<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <application>
        <activity
            android:name="com.marketap.sdk.client.inapp.InAppMessageActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@style/InAppMessageTheme" />

        <receiver
            android:name="com.marketap.sdk.client.push.MarketapBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter android:priority="999">
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
    </application>
</manifest>